In [17]:
import numpy as np
import pandas as pd
import math
import random

In [18]:
df=pd.read_csv("25.csv")
df.groupby(['Internships','CGPA']).count()

                  Unnamed: 0  Age  Gender  Stream  Hostel  HistoryOfBacklogs  \
Internships CGPA
0           5             49   49      49      49      49                 49
            6            381  381     381     381     381                381
            7            423  423     423     423     423                423
            8            404  404     404     404     404                404
            9             74   74      74      74      74                 74
1           5             36   36      36      36      36                 36
            6            346  346     346     346     346                346
            7            399  399     399     399     399                399
            8            389  389     389     389     389                389
            9             64   64      64      64      64                 64
2           5             10   10      10      10      10                 10
            6             91   91      91      91      91                 91
            7            122  122     122     122     122                122
            8            107  107     107     107     107                107
            9             20   20      20      20      20                 20
3           5              1    1       1       1       1                  1
            6             16   16      16      16      16                 16
            7             12   12      12      12      12                 12
            8             15   15      15      15      15                 15
            9              7    7       7       7       7                  7

                  PlacedOrNot  Codechef  Salary
Internships CGPA
0           5              49         0       0
            6             381         0       0
            7             423         0       0
            8             404         0       0
            9              74         0       0
1           5              36         0       0
            6             346         0       0
            7             399         0       0
            8             389       389       0
            9              64         0       0
2           5              10         0       0
            6              91         0       0
            7             122         0       0
            8             107         0       0
            9              20         0       0
3           5               1         0       0
            6              16         0       0
            7              12         0       0
            8              15         0       0
            9               7         7       0

In [19]:
df['DSA'] = np.nan

In [20]:
def mlf(x,y,cc,paisa1,paisa2,z,dsa):
    tppr =df[(df['CGPA']==x) & (df['Internships']==y)]
    tppr_index=tppr.index.tolist()
    df.loc[tppr_index]
    df['Codechef'].loc[tppr_index]=cc
    df['Salary'].loc[tppr_index]=random.sample(range(paisa1,paisa2),z)
    df['DSA'].loc[tppr_index]=dsa

In [21]:
mlf(5,0,2,10000,15000,49,100)

c:\users\230405\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [22]:
df.groupby(['Internships','CGPA']).count()

                  Unnamed: 0  Age  Gender  Stream  Hostel  HistoryOfBacklogs  \
Internships CGPA
0           5             49   49      49      49      49                 49
            6            381  381     381     381     381                381
            7            423  423     423     423     423                423
            8            404  404     404     404     404                404
            9             74   74      74      74      74                 74
1           5             36   36      36      36      36                 36
            6            346  346     346     346     346                346
            7            399  399     399     399     399                399
            8            389  389     389     389     389                389
            9             64   64      64      64      64                 64
2           5             10   10      10      10      10                 10
            6             91   91      91      91      91                 91
            7            122  122     122     122     122                122
            8            107  107     107     107     107                107
            9             20   20      20      20      20                 20
3           5              1    1       1       1       1                  1
            6             16   16      16      16      16                 16
            7             12   12      12      12      12                 12
            8             15   15      15      15      15                 15
            9              7    7       7       7       7                  7

                  PlacedOrNot  Codechef  Salary  DSA
Internships CGPA
0           5              49        49      49   49
            6             381         0       0    0
            7             423         0       0    0
            8             404         0       0    0
            9              74         0       0    0
1           5              36         0       0    0
            6             346         0       0    0
            7             399         0       0    0
            8             389       389       0    0
            9              64         0       0    0
2           5              10         0       0    0
            6              91         0       0    0
            7             122         0       0    0
            8             107         0       0    0
            9              20         0       0    0
3           5               1         0       0    0
            6              16         0       0    0
            7              12         0       0    0
            8              15         0       0    0
            9               7         7       0    0

In [23]:
mlf(5,1,3,20000,25000,36,200)

c:\users\230405\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [24]:
df.groupby(['Internships','CGPA']).count()

                  Unnamed: 0  Age  Gender  Stream  Hostel  HistoryOfBacklogs  \
Internships CGPA
0           5             49   49      49      49      49                 49
            6            381  381     381     381     381                381
            7            423  423     423     423     423                423
            8            404  404     404     404     404                404
            9             74   74      74      74      74                 74
1           5             36   36      36      36      36                 36
            6            346  346     346     346     346                346
            7            399  399     399     399     399                399
            8            389  389     389     389     389                389
            9             64   64      64      64      64                 64
2           5             10   10      10      10      10                 10
            6             91   91      91      91      91                 91
            7            122  122     122     122     122                122
            8            107  107     107     107     107                107
            9             20   20      20      20      20                 20
3           5              1    1       1       1       1                  1
            6             16   16      16      16      16                 16
            7             12   12      12      12      12                 12
            8             15   15      15      15      15                 15
            9              7    7       7       7       7                  7

                  PlacedOrNot  Codechef  Salary  DSA
Internships CGPA
0           5              49        49      49   49
            6             381         0       0    0
            7             423         0       0    0
            8             404         0       0    0
            9              74         0       0    0
1           5              36        36      36   36
            6             346         0       0    0
            7             399         0       0    0
            8             389       389       0    0
            9              64         0       0    0
2           5              10         0       0    0
            6              91         0       0    0
            7             122         0       0    0
            8             107         0       0    0
            9              20         0       0    0
3           5               1         0       0    0
            6              16         0       0    0
            7              12         0       0    0
            8              15         0       0    0
            9               7         7       0    0

In [25]:
mlf(5,2,4,40000,45000,10,300)
mlf(5,3,5,50000,55000,1,500)
mlf(6,0,2,20000,25000,381,400)
mlf(6,1,3,30000,35000,346,500)
mlf(6,2,4,40000,45000,91,600)
mlf(6,3,5,50000,55000,16,700)

c:\users\230405\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [26]:
df.groupby(['Internships','CGPA']).count()

                  Unnamed: 0  Age  Gender  Stream  Hostel  HistoryOfBacklogs  \
Internships CGPA
0           5             49   49      49      49      49                 49
            6            381  381     381     381     381                381
            7            423  423     423     423     423                423
            8            404  404     404     404     404                404
            9             74   74      74      74      74                 74
1           5             36   36      36      36      36                 36
            6            346  346     346     346     346                346
            7            399  399     399     399     399                399
            8            389  389     389     389     389                389
            9             64   64      64      64      64                 64
2           5             10   10      10      10      10                 10
            6             91   91      91      91      91                 91
            7            122  122     122     122     122                122
            8            107  107     107     107     107                107
            9             20   20      20      20      20                 20
3           5              1    1       1       1       1                  1
            6             16   16      16      16      16                 16
            7             12   12      12      12      12                 12
            8             15   15      15      15      15                 15
            9              7    7       7       7       7                  7

                  PlacedOrNot  Codechef  Salary  DSA
Internships CGPA
0           5              49        49      49   49
            6             381       381     381  381
            7             423         0       0    0
            8             404         0       0    0
            9              74         0       0    0
1           5              36        36      36   36
            6             346       346     346  346
            7             399         0       0    0
            8             389       389       0    0
            9              64         0       0    0
2           5              10        10      10   10
            6              91        91      91   91
            7             122         0       0    0
            8             107         0       0    0
            9              20         0       0    0
3           5               1         1       1    1
            6              16        16      16   16
            7              12         0       0    0
            8              15         0       0    0
            9               7         7       0    0

In [27]:
mlf(7,0,2,30000,35000,423,500)
mlf(7,1,3,40000,45000,399,600)
mlf(7,2,4,50000,55000,122,700)
mlf(7,3,5,60000,65000,12,800)

c:\users\230405\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [28]:
mlf(8,0,2,40000,45000,404,600)
mlf(8,1,3,50000,55000,389,700)
mlf(8,2,4,60000,65000,107,800)
mlf(8,3,5,70000,75000,15,900)

In [29]:
mlf(9,0,3,50000,55000,74,700)
mlf(9,1,4,60000,65000,64,800)
mlf(9,2,5,70000,75000,20,900)
mlf(9,3,6,80000,85000,7,1000)

In [30]:
df.groupby(['Internships','CGPA']).count()

                  Unnamed: 0  Age  Gender  Stream  Hostel  HistoryOfBacklogs  \
Internships CGPA
0           5             49   49      49      49      49                 49
            6            381  381     381     381     381                381
            7            423  423     423     423     423                423
            8            404  404     404     404     404                404
            9             74   74      74      74      74                 74
1           5             36   36      36      36      36                 36
            6            346  346     346     346     346                346
            7            399  399     399     399     399                399
            8            389  389     389     389     389                389
            9             64   64      64      64      64                 64
2           5             10   10      10      10      10                 10
            6             91   91      91      91      91                 91
            7            122  122     122     122     122                122
            8            107  107     107     107     107                107
            9             20   20      20      20      20                 20
3           5              1    1       1       1       1                  1
            6             16   16      16      16      16                 16
            7             12   12      12      12      12                 12
            8             15   15      15      15      15                 15
            9              7    7       7       7       7                  7

                  PlacedOrNot  Codechef  Salary  DSA
Internships CGPA
0           5              49        49      49   49
            6             381       381     381  381
            7             423       423     423  423
            8             404       404     404  404
            9              74        74      74   74
1           5              36        36      36   36
            6             346       346     346  346
            7             399       399     399  399
            8             389       389     389  389
            9              64        64      64   64
2           5              10        10      10   10
            6              91        91      91   91
            7             122       122     122  122
            8             107       107     107  107
            9              20        20      20   20
3           5               1         1       1    1
            6              16        16      16   16
            7              12        12      12   12
            8              15        15      15   15
            9               7         7       7    7

In [31]:
df.head()

,Unnamed: 0,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot,Codechef,Salary,DSA
0,0,22,Male,Electronics And Communication,1,8,1,1,1,3.0,50917.0,700.0
1,1,21,Female,Computer Science,0,7,1,1,1,2.0,32614.0,500.0
2,2,22,Female,Information Technology,1,6,0,0,1,3.0,30048.0,500.0
3,3,21,Male,Information Technology,0,8,0,1,1,2.0,44910.0,600.0
4,4,22,Male,Mechanical,0,8,1,0,1,2.0,43962.0,600.0

In [33]:
df.to_csv("best_data1.csv")